@charset "utf-8";
/* CSS Document */

html {
    box-sizing: border-box;
}

body {
	margin: 0px;
	border: 0px;
	background-repeat:repeat;
	background-color: #3F2E3E;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

#artist-arena {
	text-align: center;
	display: flex;
	flex-direction: row;
	max-width: 900px;
	margin: 0 auto;
}

#artist-container {
	text-align: center;
	display: flex;
	flex-direction: row;
	max-width: 900px;
	margin: 0 auto;
}

.artist-icons, .artist-stage {
    margin-top: 40px;
	height: 400px;
	border: medium solid #333;
	background-color: transparent;
	color: inherit;
	overflow: hidden; 
}

.artist-icons {
	width: 1200px;
	height: fit-content;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
}

.artist-image {
	width: 150%;
	display: block;
	padding: 8px;
	cursor: pointer;
}

/* drop zones */

.puzzle-board {
	width:600px; 
	background-image: url('../images/light_stage.svg');
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 65px;
}

.artist-dropzones {
	width:500px; 
	background-image: url('../images/dark_stage.jpg');
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 65px;
}

.drop-zone {
	width: 50%;
	height: 50%;
	border: thin dashed white;
	position: relative;
}

.drop-zone img {
	padding: 0;
	position: absolute;
	width: 90%;
}